.inv-footer-section-2 {
	padding-top: 85px;
}
.inv-footer-content-2 {
	.footer-logo {
		padding-bottom: 40px;
	}
}
.inv-footer-cta-item-2 {
	padding-bottom: 55px;
	.cta-icon {
		width: 82px;
		height: 82px;
		margin: 0 auto;
		border-radius: 100%;
		margin-bottom: 22px;
		background-color: #585189;
		i {
			font-size: 24px;
			color: var(--thm-color-5);
		}
	}
	.cta-text {
		a,span {
			width: 100%;
			display: block;
		}
		a {
			color: #fff;
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 15px;
		}
		span {
			color: #aeaacb;
			font-size: 16px;
			font-weight: 700;
		}
	}
	&:hover {
		.cta-icon {
			animation: icon-bounce 0.8s ease-out infinite;
		}
	}
}
.inv-footer-gallery {
	ul {
		display: flex;
		li {
			width: 178px;
			height: 132px;
			a {
				display: block;
				position: relative;
				&:before {
					top: 0;
					right: 0;
					width: 0%;
					left: auto;
					opacity: .8;
					content: '';
					height: 100%;
					position: absolute;
					transition: all 500ms ease;
					background-color: var(--thm-color-5);
				}
				&:after {
					left: 0;
					right: 0;
					top: 40%;
					color: #fff;
					opacity: 0;
					font-size: 20px;
					margin: 0 auto;
					text-align: center;
					content: '\f31d';
					font-weight: 300;
					position: absolute;
					transition: all 500ms ease;
					transform: translateY(-50%);
					font-family: 'Font Awesome 5 Pro';
					transition-delay: .3s;
				}
				&:hover {
					&:before {
						left: 0;
						right: auto;
						width: 100%;
					}
					&:after {
						top: 50%;
						opacity: 1;
					}
				}
			}
		}
	}
}
.inv-footer-copyright-social-2 {
	padding: 25px 0px;
	.inv-footer-copyright-2 {
		font-size: 17px;
		color: #aeaacb;
	}
	.inv-footer-social {
		display: flex;
		a {
			width: 40px;
			height: 40px;
			display: flex;
			margin-left: 10px;
			border-radius: 100%;
			align-items: center;
			background-color: #fff;
			justify-content: center;
			color: var(--thm-color-5);
			&:hover {
				color: #4ccef9;
			}
		}
	}
}