.inv-pricing-section-2 {
	padding: 110px 0px 150px ;
}
.inv-pricing-img {
	overflow: hidden;
	border-radius: 8px;
	display: inline-block;
}
.inv-price-img-pricing {
	.inv-pricing-plan {
		right: 0;
		bottom: 42px;
	}
	.pricing-plan-text {
		padding: 35px 32px;
		h3 {
			color: #252525;
			font-size: 32px;
			font-weight: 800;
		}
		h2 {
			color: #252525;
			font-size: 40px;
			font-weight: 700;
			sup {
				top: -15px;
				font-weight: 800;
				font-size: 13px;
			}
			sub {
				bottom: 0px;
				font-size: 13px;
				font-weight: 800;
			}
		}
		p {
			color: #212121;
			font-weight: 600;
			padding-top: 10px;
		}
	}
}
.inv-pricing-text-area {
	padding-top: 15px;
	.inv-section-title-2 {
		.subtitle {
			background-color: #fff0ec;
		}
		h2 {
			color: #181515;
			font-size: 55px;
		}
		p {
			color: #2c2c2c;
		}
	}
	.inv-about-feature-list li {
		color: #181515;
		font-size: 19px;
		font-weight: 700;
	}
	.inv-about-feature-2 {
		border: none;
		margin-top: 0;
	}
	.inv-about-feature-list {
		margin-bottom: 30px;
	}
} 