// variable
:root {
    --font-body: 'Roboto', sans-serif;
    --font-heading: 'Livvic', sans-serif;
   
    --gradient-color-from: #fc7632; 
    --gradient-color-to: #f72750; 
    --color-primary: #f72750;
    --thm-color-2: #bfef2d;
    --thm-color-3: #dc860f;
    --thm-color-4: #5f2dde;
    --thm-color-5: #ff613c;
    --color-violet: #361f61;
    --color-violet-2: #453266;
    --color-deep: #0e0027;
    --color-deep-2: #0a183f;
    --color-deep-3: #00071a;

    --color-white: #fff;
    --color-black: #000;
    --color-default: #1c1d20;
    --color-gray: #eeedef;
}

