/*----------------------------------------*/
/*  04. globel
/*----------------------------------------*/
@media (min-width: 1024px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }
}


.bg-gradient,
.header__top,
.header__bar a:before,
.invite-navigation .tp-bullet.rs-touchhover,
.invite-navigation .tp-bullet.selected,
.tx-slider-text span,
.cta__content .cta-number,
.thm-btn__gradient,
.btn-video__gradient,
.invite-text-gr-color,
.btn-video__gradient::before,
.review-box__link i,
.feature__info-item .icon,
.tx-skill-progress-bar .skill-set-percent .progress-bar,
.testimonial__inner::after,
.testimonial__author-info .avatar::before,
.service__nav-icon::before,
.counter__item .icon::before,
.blog__meta .avatar::before,
.blog__tags li a::before,
.blog__inner::after,
.footer__newslater button,
.footer__widget .widget-title::before,
.social-links a i:nth-child(2),
.service-button-prev i:nth-child(2),
.service-button-next i:nth-child(2),
.breadcrumb .bread-crumb .breadcrumb-item:not(:first-child)::before,
.about__banner-content--2,
.about__tab .nav-item .nav-link.active span,
.about__tab .nav-item .nav-link::before,
.service-item-two .item--icon,
.service-item-two .item--readmore,
.team__carousel-2 .team__single::after,
.team__carousel-2 .team-carousel-button .team-button-next::after, 
.team__carousel-2 .team-carousel-button .team-button-prev::after,
.widget__search button,
.widget__category li a::before,
.pricing__wrap .pricing__table2::after,
.pricing__wrap .pricing__table2 .pricing__price::before,
.faq__social-links a::before,
.tagcloud a::after,
.pagination_wrap ul li a::before,
.post-tags-share .tags ul li a::before,
.post-tags-share .social-share ul li a::after,
.tx-team .item--social,
.tx-team .item--details,
.team-details .item--social,
.team-details__skill .tx-skill-progress-bar .skill-set-percent .progress .progress-bar,
.portfolio__link,
.portfolio__menu button::before,
.contact__widget-info li .icon::before,
.products .product--img::before,
.woocommerce-toolbar-top .nav-item .nav-link::before,
.shop-sidebar .widget_price_filter #slider-range .ui-slider-range,
.shop-single-section .single-product-info .nav-tabs button::before,
.main-menu > ul > li > a span::before, .main-menu > ul > li > a span::after {
    background-color: var(--color-primary);
    background-image: linear-gradient(1deg, var(--gradient-color-from) 0%, var(--gradient-color-to) 100%);
    background-image: linear-gradient(1deg, var(--gradient-color-from) 0%, var(--gradient-color-to) 100%);
    background-image: -ms-linear-gradient(1deg, var(--gradient-color-from) 0%, var(--gradient-color-to) 100%);
    background-image: -o-linear-gradient(1deg, var(--gradient-color-from) 0%, var(--gradient-color-to) 100%);
    background-image: -webkit-linear-gradient(1deg, var(--gradient-color-from) 0%, var(--gradient-color-to) 100%);
    
}


.blog__meta .avatar::after {
    background-image: linear-gradient( -35deg, rgb(0,212,251) 1%, rgb(39,54,247) 100%);
    background-image: -webkit-linear-gradient( -35deg, rgb(0,212,251) 1%, rgb(39,54,247) 100%);
    background-image: -ms-linear-gradient( -35deg, rgb(0,212,251) 1%, rgb(39,54,247) 100%);
  }
  

  .header-style-two .header__bar a::before,
  .feature__info-item--two .icon,
  .service__item .service__item-dot::before,
  .blog__content .blog-link i,
  .blog__single::before,
  .testimonial__single-inner::after,
  .testimonial__nav-thumb::before {
    background-image: linear-gradient( -76deg, rgb(59,123,247) 1%, rgb(71,255,0) 36%, rgb(255,222,0) 71%, rgb(235,14,247) 100%);
    background-image: -webkit-linear-gradient( -76deg, rgb(59,123,247) 1%, rgb(71,255,0) 36%, rgb(255,222,0) 71%, rgb(235,14,247) 100%);
    background-image: -ms-linear-gradient( -76deg, rgb(59,123,247) 1%, rgb(71,255,0) 36%, rgb(255,222,0) 71%, rgb(235,14,247) 100%);
    
  }
  
  
  
  .service__item-icon::before,
  .service__content-two::before,
  .service__slider .service-button-prev i:nth-child(2),
  .service__slider .service-button-next i:nth-child(2),
  .feature__list li .icon i:nth-child(2),
  .testimonial__nav-thumb.swiper-slide-active::after,
  .feature__item h3::after,
  .case-study__cotnent-inner:before,
  .case-study__image-item::before,
  .footer-style-two .footer__widget .widget-title::before,
  .footer-style-two .footer__newslater button,
  .footer-style-two .footer__info li a i {
    background-image: linear-gradient( -9deg, rgb(249,0,88) 0%, rgb(62,28,243) 100%);
    background-image: -webkit-linear-gradient( -9deg, rgb(249,0,88) 0%, rgb(62,28,243) 100%);
    background-image: -ms-linear-gradient( -9deg, rgb(249,0,88) 0%, rgb(62,28,243) 100%);
  }

  .header__top-info-two li i,
  .about__skill .tx-skill-progress-bar .skill-set-percent .progress-bar,
  .counter__single .icon,
  .tx-service-slider .item--icon,
  .tx-service-slider .item--holder::before,
  .tx-service-slider .item--holder-bottom::before,
  .tx-service-slider .item--readmore,
  .tx-pagination.swiper-pagination .swiper-pagination-bullet,
  .tx-pagination.swiper-pagination .swiper-pagination-bullet::before,
  .testimonial__active.style2 .testimonial__single-inner::after,
  .testimonial__nav.style2 .testimonial__nav-thumb::before,
  .testimonial__nav.style2 .testimonial__nav-thumb.swiper-slide-active::after,
  .testimonial__active.style2 .testimonial__author .info span,
  .testimonial__active.style2 .testimonial__author .rating,
  .project-carousel .item--category::before,
  .pricing__table::after,
  .pricing__price::before, 
  .contact-info-box-item .item--icon i,
  .contact-form__btn::after,
  .contact-form__btn:not(:hover) i,
  .blog__active-style2 .blog__single .blog-meta,
  .blog__active-style2 .blog__single::before,
  .blog__active-style2 .blog__content .blog-link i,
  .team__single::after,
  .team__carousel .team-button-next::after,
  .team__carousel .team-button-prev::after,
  .footer-style-three .footer__widget .widget-title::before,
  .footer-style-three .social-links a i:nth-child(2),
  .footer-style-three .footer__newslater button,
  .footer-style-three .footer__info li a i,
  .slider_line::before,
  .slider-live-chat i {
    background-image: linear-gradient( -179deg, rgb(253,211,5) 1%, rgb(220,134,13) 100%);
    background-image: -webkit-linear-gradient( -179deg, rgb(253,211,5) 1%, rgb(220,134,13) 100%);
    background-image: -ms-linear-gradient( -179deg, rgb(253,211,5) 1%, rgb(220,134,13) 100%);
  }
  

.tx-swiper-arrow {
	font-size: 24px;
	color: #000;
	width: 38px;
	height: 38px;
	line-height: 56px;
	display: block;
	z-index: 2;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-khtml-transform: translateY(-50%);
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #fff;
	-webkit-border-radius: 56px;
	-khtml-border-radius: 56px;
	border-radius: 56px;
	-ms-border-radius: 56px;
	-o-border-radius: 56px;
	border-radius: 56px;
	-webkit-box-shadow: 0px 0px 13.92px 2.08px rgba(0, 2, 32, 0.05);;
	-khtml-box-shadow: 0px 0px 13.92px 2.08px rgba(0, 2, 32, 0.05);;
	box-shadow: 0px 0px 13.92px 2.08px rgba(0, 2, 32, 0.05);;
	-ms-box-shadow: 0px 0px 13.92px 2.08px rgba(0, 2, 32, 0.05);;
	-o-box-shadow: 0px 0px 13.92px 2.08px rgba(0, 2, 32, 0.05);;
	box-shadow: 0px 0px 13.92px 2.08px rgba(0, 2, 32, 0.05);;
	-webkit-transition: all .25s cubic-bezier(.645,.045,.355,1);
	-khtml-transition: all .25s cubic-bezier(.645,.045,.355,1);
	transition: all .25s cubic-bezier(.645,.045,.355,1);
	-ms-transition: all .25s cubic-bezier(.645,.045,.355,1);
	-o-transition: all .25s cubic-bezier(.645,.045,.355,1);
	transition: all .25s cubic-bezier(.645,.045,.355,1);
    &.tx-swiper-arrow-prev {
        left: -55px;
        @include respond(lg) {
            left: -10px;
        }
    }
    &.tx-swiper-arrow-next {
        right: -55px;
        @include respond(lg) {
            right: -10px;
        }
        i {
            right: auto;
            left: -6px;
        }
    }
    &:hover {
        i {
            color: var(--color-primary);
            right: 0;
        }
        &.tx-swiper-arrow-next i {
            right: auto;
            left: 0;
        }
    }
    i {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        right: -6px;
        @include transition(.3s);
    }
}


body .mfp-wrap .mfp-container .mfp-content .mfp-close {
	padding: 0;
	right: 0;
	text-align: center;
	top: -36px;
	width: 36px;
	height: 36px;
	-webkit-border-radius: 0;
	-khtml-border-radius: 0;
	border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	background: var(--color-white);
	cursor: pointer;
	opacity: 1;
	font-size: 0;
	border: 9px solid transparent;
	position: absolute;
}
body .mfp-wrap .mfp-container .mfp-content .mfp-figure .mfp-close {
	top: 4px;
}
body .mfp-wrap .mfp-container .mfp-content .mfp-close::before, body .mfp-wrap .mfp-container .mfp-content .mfp-close::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -1px;
	transform-origin: 50% 50%;
	-webkit-transition: all .25s cubic-bezier(.645,.045,.355,1);
	-khtml-transition: all .25s cubic-bezier(.645,.045,.355,1);
	transition: all .25s cubic-bezier(.645,.045,.355,1);
	-ms-transition: all .25s cubic-bezier(.645,.045,.355,1);
	-o-transition: all .25s cubic-bezier(.645,.045,.355,1);
	transition: all .25s cubic-bezier(.645,.045,.355,1);
	background-color: #222;
}
body .mfp-wrap .mfp-container .mfp-content .mfp-close::before {
	-webkit-transform: rotate(45deg);
	-khtml-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
body .mfp-wrap .mfp-container .mfp-content .mfp-close::after {
	-webkit-transform: rotate(-45deg);
	-khtml-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
body .mfp-wrap .mfp-container .mfp-content .mfp-close:hover::before, body .mfp-wrap .mfp-container .mfp-content .mfp-close:hover::after {
	-webkit-transform: rotate(0);
	-khtml-transform: rotate(0);
	transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}
body .mfp-wrap .mfp-container .mfp-content .mfp-close:hover::before, body .mfp-wrap .mfp-container .mfp-content .mfp-close:hover::after {
	-webkit-transform: rotate(0);
	-khtml-transform: rotate(0);
	transform: rotate(0);
	-ms-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}
.mfp-iframe-holder .mfp-content {
	max-width: 1170px;
}


.tx-split-text .split-line {
    overflow: hidden;
}

.review-box__link i,
.feature__info-item .icon,
.invite-text-gr-color,
.social-links a i:nth-child(2),
.service-button-prev i:nth-child(2),
.service-button-next i:nth-child(2),
.feature__list li .icon i:nth-child(2),
.blog__content .blog-link i,
.header__top-info-two li i,
.service-item-inner .item--icon,
.service-item-inner .item--readmore,
.testimonial__active.style2 .testimonial__author .info span,
.testimonial__active.style2 .testimonial__author .rating,
.contact-info-box-item .item--icon i,
.contact-form__btn:not(:hover) i,
.slider-live-chat i,
.breadcrumb .bread-crumb .breadcrumb-item:not(:first-child)::before,
.about__tab .nav-item .nav-link.active span {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tx-item-bg,
.service__item .service__item-dot::before,
.case-study__image-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


// social links
.social-links {
    a {
        width: 25px;
        height: 25px;
        display: inline-block;
        color: #494949;
        text-decoration: none;
        position: relative;
        z-index: 1;
        font-size: 18px;
        
        &:not(:last-child) {
            margin-right: 10px;
        }
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transition(.3s);
            @include transform(translate(-50%, -50%));
            &:nth-child(2) {
                opacity: 0;
            }
        }
        &:hover {
            @include transform(translateY(-3px));
            i {
                &:nth-child(1) {
                    opacity: 0;
                }
                &:nth-child(2) {
                    opacity: 1;
                }
            }
        }
    }
}

// border text
.tx-border-text {
    position: absolute;
    top: 0;
    right: 100%;
    font-size: 200px;
    line-height: 1;
    font-family: var(--font-heading);
    color: transparent;
    letter-spacing: -1px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(192,192,192,.15);
    -ms-text-stroke-color: rgba(192,192,192,.15);
    -o-text-stroke-color: rgba(192,192,192,.15);
    margin-right: -100px;
    white-space: nowrap;
    font-weight: 700;
    @include respond(lg) {
        font-size: 150px;
    }
    @include respond(md) {
        font-size: 120px;
    }
    @include respond(xs) {
        font-size: 70px;
    }
    span {
        display: inline-block
    }
}
.border-text-left.tx-border-text {
    @include transform(translateX(366px));
    margin-top: -41px;
    @include respond(xs) {
        @include transform(translateX(176px));
    }
}
.border-text-left.style2.tx-border-text {
    @include transform(translateX(240px));
}
.border-text-left.style3.tx-border-text {
    @include transform(translateX(360px));
    margin-top: -40px;
}

.slider_line {
    position: relative;
}
.slider_line::before {
    position: relative;
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: 46%;
    left: -2px;
    content: "";
    opacity: .4;
    -webkit-animation: dotAnimatedBottomToTop1 30s infinite linear;
    animation: dotAnimatedBottomToTop1 30s infinite linear;
    -o-animation: dotAnimatedBottomToTop1 30s infinite linear;
    animation: dotAnimatedBottomToTop1 30s infinite linear;
    background-color: #fdd305;
    background-image: linear-gradient( -179deg, rgb(253,211,5) 1%, rgb(220,134,13) 100%);
    background-image: -webkit-linear-gradient( -179deg, rgb(253,211,5) 1%, rgb(220,134,13) 100%);
    background-image: -ms-linear-gradient( -179deg, rgb(253,211,5) 1%, rgb(220,134,13) 100%);
}

.slider_line.slider_line_2::before {
    bottom: 27%;
    -webkit-animation: dotAnimatedBottomToTop2 30s infinite linear;
    animation: dotAnimatedBottomToTop2 30s infinite linear;
    -o-animation: dotAnimatedBottomToTop2 30s infinite linear;
    animation: dotAnimatedBottomToTop2 30s infinite linear;
}


@keyframes dotAnimatedBottomToTop1 {
    0% {
     bottom:46%
    }
    50% {
     bottom:0%
    }
    100% {
     bottom:46%
    }
   }
   @keyframes dotAnimatedBottomToTop2 {
    0% {
     bottom:27%
    }
    50% {
     bottom:100%
    }
    100% {
     bottom:27%
    }
}
.pb-md-120 {
    @include respond(md) {
        padding-bottom: 120px;
    }
}

// sidebar widget
.sidebar-area {
    padding-left: 30px;
    @include respond(md) {
        padding-left: 0;
    }
}
.widget {
    &__title {
        font-size: 20px;
        color: var(--color-black);
        font-weight: 600;
        margin-bottom: 15px;
    }
    &__inner {
        padding: 20px;
        border: 1px solid rgba(44, 26, 78, 0.15);
    }
    &__search {
        position: relative;
        input {
            height: 60px;
            background-color: rgba(44, 26, 78, 0.05);
            padding: 20px;
            border: 0;
            font-size: 16px;
            @include placeholder(#4A4C51);
            font-weight: 400;
            margin-bottom: 0;
        }
        button {
            position: absolute;
            top: 0;
            right: 0;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-white);
        }
    }
    &__category {
        li {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            a {
                padding: 15px 20px;
                background-color: rgba(44, 26, 78, 0.05);
                position: relative;
                display: block;
                z-index: 1;
                color: var(--color-black);
                font-size: 16px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    content: "";
                    z-index: -1;
                    opacity: 0;
                    @include transition(.3s);
                }
                &:hover,
                &.active {
                    color: var(--color-white);
                    &::before {
                        opacity: 1;
                    }
                }
                i {
                    font-size: 13px;
                }
            }
        }
    }
    &__add-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 300px;
        text-align: center;
        h3 {
            font-size: 30px;
            font-weight: 700;
            color: var(--color-white);
            margin-bottom: 18px;
        }
        span {
            color: var(--color-white);
        }
    }
    &__post {
        
    }
    &__post-item {
        &:not(:last-child) {
            margin-bottom: 12px;
        }
        .post-thumb {
            width: 90px;
            height: 90px;
            overflow: hidden;
            margin-right: 20px;
            img {
                width: 100%;
                @include transition(.3s);
                @include transform(scale(1.04));
            }
        }
        &:hover {
            .post-thumb img {
                @include transform(scale(1));
            }
            .post-title a {
                background-size: 100% 100%;
            }
        }
        .post-meta {
            margin-bottom: 5px;
            a {
                font-size: 12px;
                color: #4A4C51;
                position: relative;
                &:not(:last-child) {
                    margin-right: 9px;
                    padding-right: 12px;
                    &::before {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        @include transform(translate(-50%, -50%));
                        content: "";
                        width: 1px;
                        height: 15px;
                        background-color: #E6E6E6;
                    }
                }
                i {
                    margin-right: 10px;
                }
            }
        }
        .post-content {
            width: calc(100% - 110px);
            .post-title {
                font-size: 16px;
                color: var(--color-black);
                font-weight: 600;
                a {
                    color: inherit;
                }
            }
        }
    }
}

.faq__social-links {
    a {
        font-size: 17px;
        margin-right: 20px;
        color: #9087A2;
        width: 45px;
        height: 45px;
        display: inline-block;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #9087A2;
        @include border-radius(50%);
        position: relative;
        z-index: 1;
        margin-top: 10px;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: red;
            content: "";
            z-index: -1;
            opacity: 0;
            @include transition(.3s);
            @include border-radius(50%);
        }
        &:hover {
            border-color: transparent;
            color: var(--color-white);
            &::before {
                opacity: 1;
            }
        }
    }

}


// tagcloud
.tagcloud {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	align-items: center;
    margin: -10px;
    a {
        display: block;
        color: #4A4C51;
        
        min-height: 36px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        text-transform: capitalize;
        text-decoration: none;
        padding: 0px 17px;
        margin: 7px;
        position: relative;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            z-index: -2;
            background-color: rgba(44, 26, 78, 0.05);
            
        }
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            z-index: -1;
            @include transition(.3s);
            opacity: 0;
        }
        &:hover {
            color: var(--color-white);
            border-color: transparent;
            &::after {
                opacity: 1;
            }
        }
    }
}
// custom container & row
.tx-custom-container {
    padding: 0 15px;
}
.tx-custom-row {
    margin: 0 -15px;
    &> * {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.mr-container {
    // padding-left: calc((100% - 1170px)/2) !important;
    padding-right: calc((100% - 1170px)/2) !important;
    @include respond(lg) {
        padding-right: 15px !important;
    }
    @include respond(md) {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
