/* Navigation css */
.main-menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    &__wrap {
        padding: 0 100px;
    }
    ul {
        @include d-flex;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            position: relative;
            &:not(:last-child) {
                margin-right: 55px;
                @include respond(laptop) {
                    margin-right: 45px;
                }
                @include respond(lg) {
                    margin-right: 30px;
                }
            }
            .submenu li {
                margin-right: 0;
            }
            a {
                display: inline-block;
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
                color: var(--color-white);
                padding: 35px 0;
                position: relative;
                line-height: 22px;
                span i {
                    font-size: 11px;
                    margin-left: 5px;
                }
            }
            &.menu-item-has-children {
                &:hover > .submenu {
                    opacity: 1;
                    visibility: visible;
                    @include transform(none !important);
                    pointer-events: all;
                }
            }
            &:hover > a,
            &.active > a {
                // color: red;
            }
            .submenu {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                        flex-direction: column;
                position: absolute;
                min-width: 240px;
                top: 100%;
                opacity: 0;
                visibility: hidden;
                background: var(--color-white);
                left: 0;
                padding: 20px 0;
                @include transition(.3s);
                z-index: 3;
                text-align: left;
                @include transform(translate3d(0,18px,0));
                pointer-events: none;
                box-shadow: 0 0.5rem 1.875rem rgba(0, 0, 0, 0.10);
                @include border-radius(3px);
                &::before {
                    content: "";
                    position: absolute;
                    top: -18px;
                    left: 15px;
                    z-index: 2;
                    display: block;
                    width: 16px;
                    height: 16px;
                    -webkit-transform: rotate(-45deg) translateY(1rem);
                    -ms-transform: rotate(-45deg) translateY(1rem);
                    transform: rotate(-45deg) translateY(1rem);
                    border-radius: 3px;
                    background: #fff;
                    box-shadow: none;
                }
                li {
                    a {
                        color: var(--color-black);
                        padding: 8px 30px;
                        display: block;
                        margin: 0;
                        font-size: 16px;
                    }
                    &:hover > a,
                    &.active > a {
                        color: var(--color-primary);
                    }
                }
                ul {
                    left: 100%;
                    top: 0px;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    & > ul > li > a  span {
        position: relative;
        padding: 0 2px;
        &::before,
        &::after {
            left: auto;
            right: 0;
            top: -12px;
            content: "";
            width: 0%;
            height: 3px;
            position: absolute;
            border-radius: 10px;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
        }
        &::after {
            left: 0;
            top: 29px;
            top: auto;
            top: 29px;
            right: auto;
        } 
    }
    & > ul > li:hover a span,
    & > ul > li.active a span {
        &::before,
        &::after {
            width: 100%;
        }
        &::before {
            left: 0;
            right: auto;
        }
        &::after {
            right: 0;
            left: auto;
        }
    }
}

.main-menu ul li.menu-last ul.submenu {
	right: 0;
	left: auto;
}
.main-menu ul li.menu-last ul.submenu ul {
    right: auto;
    left: -100%;
}
.main-menu ul li ul.submenu .menu-item-has-children > a::after {
	position: absolute;
    top: 9px;
    right: 15px;
    content: "\f105";
    font-size: 13px;
    font-family: 'Font Awesome 5 Pro';
}
